In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_excel("Normalisasi.xlsx", header= 1)
df = df[["TB (m)", "BB (kg)"]].iloc[:10]
df

   TB (m)  BB (kg)
0    0.80       20
1    0.85       25
2    0.92       21
3    0.88       29
4    0.82       30
5    0.86       21
6    0.87       28
7    0.93       27
8    0.81       29
9    1.00       30

<hr>

## Normalisasi

- Normalisasi $\displaystyle x' = \frac {x - x_{min}} {x_{max} - x_{min}} $

#### Cara manual dengan Pandas

In [12]:
ntb = (df["TB (m)"] - df["TB (m)"].min()) / (df["TB (m)"].max() - df["TB (m)"].min())
nbb = (df["BB (kg)"] - df["BB (kg)"].min()) / (df["BB (kg)"].max() - df["BB (kg)"].min())

df["nTB1"] = ntb
df["nBB1"] = nbb
df

   TB (m)  BB (kg)  nTB1  nBB1
0    0.80       20  0.00   0.0
1    0.85       25  0.25   0.5
2    0.92       21  0.60   0.1
3    0.88       29  0.40   0.9
4    0.82       30  0.10   1.0
5    0.86       21  0.30   0.1
6    0.87       28  0.35   0.8
7    0.93       27  0.65   0.7
8    0.81       29  0.05   0.9
9    1.00       30  1.00   1.0

#### Menggunakan Method Sklearn

In [14]:
from sklearn.preprocessing import minmax_scale

In [15]:
df["nTB2"] = minmax_scale(df["TB (m)"])
df["nBB2"] = minmax_scale(df["BB (kg)"])
df

   TB (m)  BB (kg)  nTB1  nBB1  nTB2  nBB2
0    0.80       20  0.00   0.0  0.00   0.0
1    0.85       25  0.25   0.5  0.25   0.5
2    0.92       21  0.60   0.1  0.60   0.1
3    0.88       29  0.40   0.9  0.40   0.9
4    0.82       30  0.10   1.0  0.10   1.0
5    0.86       21  0.30   0.1  0.30   0.1
6    0.87       28  0.35   0.8  0.35   0.8
7    0.93       27  0.65   0.7  0.65   0.7
8    0.81       29  0.05   0.9  0.05   0.9
9    1.00       30  1.00   1.0  1.00   1.0

#### Normalisasi MinMaxScaler

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
scaler = MinMaxScaler()
scaler.fit(df[["TB (m)", "BB (kg)"]])
mima = scaler.transform(df[["TB (m)", "BB (kg)"]])
mima

array([[0.  , 0.  ],
       [0.25, 0.5 ],
       [0.6 , 0.1 ],
       [0.4 , 0.9 ],
       [0.1 , 1.  ],
       [0.3 , 0.1 ],
       [0.35, 0.8 ],
       [0.65, 0.7 ],
       [0.05, 0.9 ],
       [1.  , 1.  ]])

In [24]:
df["nTB3"]= mima[:,0]
df["nBB3"]= mima[:,1]
df

   TB (m)  BB (kg)  nTB1  nBB1  nTB2  nBB2  nTB3  nBB3
0    0.80       20  0.00   0.0  0.00   0.0  0.00   0.0
1    0.85       25  0.25   0.5  0.25   0.5  0.25   0.5
2    0.92       21  0.60   0.1  0.60   0.1  0.60   0.1
3    0.88       29  0.40   0.9  0.40   0.9  0.40   0.9
4    0.82       30  0.10   1.0  0.10   1.0  0.10   1.0
5    0.86       21  0.30   0.1  0.30   0.1  0.30   0.1
6    0.87       28  0.35   0.8  0.35   0.8  0.35   0.8
7    0.93       27  0.65   0.7  0.65   0.7  0.65   0.7
8    0.81       29  0.05   0.9  0.05   0.9  0.05   0.9
9    1.00       30  1.00   1.0  1.00   1.0  1.00   1.0

#### Inverse Transform

In [26]:
scaler.inverse_transform(df[["nTB1", "nBB1"]])

array([[ 0.8 , 20.  ],
       [ 0.85, 25.  ],
       [ 0.92, 21.  ],
       [ 0.88, 29.  ],
       [ 0.82, 30.  ],
       [ 0.86, 21.  ],
       [ 0.87, 28.  ],
       [ 0.93, 27.  ],
       [ 0.81, 29.  ],
       [ 1.  , 30.  ]])